
    .column-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; 
      padding-left:10px;
   

    }
  
    .column {
     
      display: flex;
      justify-content: center;  
      align-items: center;      
      text-align: center;  
      flex: 1 1 0;
      max-width: calc(25% - 20px);
      background-color: #efefefc7;
      padding: 20px;
      box-sizing: border-box;
      color:rgb(187, 187, 187);
      font-style: italic;
      font-size: large;
      color:dimgrey;
    background-image: url('/pedroDoBandolim/assets/piano.png');
      background-repeat: no-repeat;
      background-position: center;   
      background-size: contain;   
      height: 200px;
    
      
    }


    .column .bi-youtube {
        fill: rgb(255, 69, 69) !important;
          align-items: center; 
      
    }
   
    .column .bi-facebook{
        fill:#328bff !important;
    }

    .column .bi-instagram {
        fill: #bb55ff !important;
      }

      .column:hover{
        background-color:#d5d5d5cd;
        color:rgba(148, 148, 9, 0.848);
      }
      
    .column svg {
        display: block; 
        margin: 0 auto;
        width: 50px; 
        height: 50px;
        fill: #8b8b8b; 
        align-items: center;
      }

a{
    text-decoration: none;
    color:inherit;
}
@media (max-width: 992px) {
    .column {
        flex: 1 1 100%; /* Cada columna ocupa el 100% del ancho en dispositivos pequeños */
        max-width: calc(100% - 20px); /* Ajuste de máxima anchura */
        margin-bottom: -12px;
        height: 135px;
    }
    .column svg{
      width:30px;
      height: 30px;
    }
    
}

.overflow-hidden {
  overflow-y: hidden;
}