<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/imagenes/texto.svg" id="texto"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #navbarSupportedContent id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" (click)="closeNavbar()">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/videos'" (click)="closeNavbar()">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/ideas'" (click)="closeNavbar()">Ideas Literarias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/fotos'" (click)="closeNavbar()">Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/proyectos'" (click)="closeNavbar()">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/contacto'" (click)="closeNavbar()">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
