
.navbar {
    background-color:#fdfffde5 !important ;

    padding-bottom: 10px;
  
    
}

.navbar a{
    color:dimgray;
   
    font-size: 1rem;
    transition: color 1s, transform 0.3s;
}

.navbar a:hover {
    color:rgba(148, 148, 9, 0.848);
    transform:translateY(-2px);
  
}

.navbar-brand{
    width: 50%;
}

#texto {
    width: 90%; 
   
   
  }

  @media (max-width: 992px) {
  #texto{
    width: 150%;
  }
}