<div class="poem-container pb-5">
    <p>
        <strong>Son las historias del Rin</strong><br>
        Así son las historias<br>
        Las historias del Rin<br>
        Se extienden en el tiempo<br>
        Y como el tiempo no tienen fin<br>
        A veces simples, a veces complejas<br>
        Como el chino mandarín<br>
        Y el agua del río fluye<br>
        Y ahora me mojo y soy feliz<br>
        Feliz en la gloria, feliz en el barro<br>
        Y añoro mi tierra, que vive en mí<br>
        Soy chileno, soy latino,<br>
        Soy sudaca, soy guaraní,<br>
        Soy veneco, soy Brazuca,<br>
        Y tengo amigos, como mil,<br>
        Amigos de muchos pueblos,<br>
        Amigos que quiero y que me quieren a mí<br>
        Conocí Alemania, de norte a sur<br>
        Y muchos lugares recorrí,<br>
        Conocí el amor, la vida y la muerte,<br>
        Y muchas veces me perdí,<br>
        Y cuando más perdido estaba<br>
        Sin tener a nadie, más que a mí,<br>
        (y lloraba desconsolado,<br>
        Sólo queriendo que llegue el fin)<br>
        Encontré un amigo fiel,<br>
        Que siempre estuvo ahí,<br>
        Él me acepta, me entiende y no me juzga,<br>
        Y ese amigo es el río Rin<br>
      </p>
      <p>
        Por eso ahora cuento y canto estas historias<br>
        Las historias del Rin.<br>
      </p>
    <p>
      <strong>Sommer in Holweide</strong><br>
      Immer kann Sommer in Holweide sein<br>
      Das ist davon abhängig, wie du die Welt siehst<br>
      Immer, immer, immer<br>
      Ich wohne in Holweide, übrigens<br>
    </p>
    <p>
        <br>
      <strong>Chileno</strong><br>
      Ich bin Chilener. Ich bin Latino. Oder anders formuliert:<br>
      Ich kann deinen schlechtesten Alptraum sein.<br>
    </p>
    <p>
        <br>
      <strong> Interessen</strong><br>
      Ich mache so, als es mir manche Sachen interessieren würden,<br>
      ansonsten gucken die Leute komisch an.<br>
      Ich mache so, als mir die politische Lage in Deutschland interessiere.<br>
      Ich mache so, als mir die Coronalage interessiere. Oder die Wirtschaft.<br>
      Oder die Verspätungen der Deutschen Bahn.<br>
      Ich mache so, als mir die Integration, meine Integration interessieren würde<br>
      Ich mache so, als mir dein überallesbeklagen interessieren würde<br>
      Usw.<br>
      Aber eigentlich das einzige dass mir interessiert<br>
      Sind deine Zöpfe und dein Lächeln und deine strählende Augen, wenn ich dir was schönes sage<br>
      Und deine Arme verschlungen in meine Arme.<br>
      Aber vor allem deine Zöpfe. Das interessiert mir sehr<br>
    </p>
    <p>
     <br>
     <strong>Deutsche Sprache</strong> <br>
      Ich habe eine Freundin<br>
      Du hast ein Avokadosandwich<br>
      Er hat dich<br>
      Sie hat es<br>
      Es hat ihn<br>
      Wir haben eine Wurst<br>
      Ihr habt eine Fritzcola<br>
      Sie haben den Schlüssel<br>
      Ich habe auch den Schlüssel, den alle Türen öffnet.<br>
      Wenn du magst, zeige ich dir den Schlüssel.<br>
    </p>
    <p>
        <br>
     <strong>Glück</strong><br>
      Was ist Glück?<br>
      Hast du daran gedacht? Ich schon, schön dass du fragst<br>
      Für mich ist Glück etwas sehr deutlich:<br>
      Sommer in Santiago, Mitternacht. Es ist noch warm, vlt 25 Grad. Ich komme nach Hause von der Küste. Ich bin Kaputt, ich habe den letzten Bus genommen. Ich rieche nach Müdigkeit und Sonnencreme. Ich esse eine Tortilla und ich trinke eine Cocacola oder ein Bierchen. Währenddessen schalte ich den Fernsehen ein: Es gibt ein Partido von La Copa. Ja, ich meine natürlich die Copa Libertadores, nicht deinen schicken, eleganten Champions League. Ich trinke einen Schluck und ich rauche das Rauschen des Lebens. Danach die Tortilla. Mein Nachbarn legt Musik. Ich höre meine Eltern sprechen. Und meine Katze miauen. Diese Stunde ist ewig. Die Zeit existiert nicht. Und nicht nur weil die Wanduhr nicht funktioniert.
    </p>
    <br>
    <p>

        <strong> Tres Cuecas alemanas </strong>
        <br> <br>
        <p>
            <strong>Un chileno anda perdido</strong><br>
            Un chileno andá perdido (Ay senhorá)<br>
            Vagando por Alemania<br>
            Recorriendo los castillos<br>
            Conociendo la Renania<br>
          </p>
          <p>
            El Mapocho y el Rin<br>
            Son ríos hermanos<br>
            Con la misma tijera<br>
            Fueron cortados<br>
          </p>
          <p>
            Fueron cortados sí<br>
            Noches heladas<br>
            Donde está el terremoto<br>
            Y las empanadas?<br>
          </p>
          <p>
            Haciéndole a la chilena<br>
            Pasan las penas.<br>
          </p>
        <p>
        <strong>Esta es la historia de un Sauce</strong><br>
        Esta es la historia de un Sauce (Fijate que sí)<br>
        Que pensaba que era llorón<br>
        Pero en sus raíces llevaba<br>
        Historias de otro color<br>
        </p>
      
      <p>
        Un haya roja sabia<br>
        Le dijo a un pino<br>
        Ese sauce es plateado<br>
        Te apuesto un vino<br>
      </p>
      <p>
        Te apuesto un vino ay sí,<br>
        Y así cantando<br>
        Sus hojas que eran verdes<br>
        Se van plateando<br>
      </p>
      <p>
        Todo fue una falacia<br>
        Dijo la Acacia<br>
      </p>
    
     
    
      <p>
        <strong>El Mapocho con el Rin</strong><br>
        El Mapocho con el Rin (Ay señora)<br>
        Se juntaron de la nada<br>
        El Rin trajo el Apfelkuchen<br>
        El Mapocho las empanadas<br>
      </p>
      <p>
        Y va corriendo el agua<br>
        Por la ribera<br>
        Todo pasa por algo<br>
        Y a su manera<br>
      </p>
      <p>
        Y a su manera ay sí,<br>
        Ríos hermanos<br>
        Y el agua que es la misma<br>
        En todos lados<br>
      </p>
      <p>
        El Rin con el Mapocho<br>
        Y un super ocho.<br>
      </p>
  </div>
  
