<div id="contenedorPadre">

    <div id="contenedorImagen">
        <img src="../../assets/imagenes/peter.png" id="fotoPedro">
        
    </div>

    <div id="contenedorTexto">
        ¡Hola! Soy Pedro do Bandolim, un apasionado pianista y músico de 32 años. Mi viaje musical comenzó en Santiago de Chile, donde estudié piano y teoría musical, obteniendo mi licenciatura. Desde entonces, he tenido la suerte de tocar en Chile, Perú, Francia y Alemania. <br>


        Hace cinco años, me mudé a Colonia, Alemania, donde soy pianista, profesor de música, compositor y escritor. Disfruto mucho tocando con varias bandas, lo cual siempre me mantiene inspirado y lleno de energía. <br>
        
        Actualmente, estoy haciendo mi doctorado en musicología porque creo que nunca se deja de aprender. También tengo un canal de YouTube llamado "Pedro do Bandolim", donde comparto mi música y algunas sorpresas. <br>
        
        Me encantaría que te unieras a mí en este emocionante viaje musical. ¡Nos vemos en el escenario o en YouTube! <br>

        <br>
        <br>
        <br>
        <br>
        <br>

                 Peter el Crá
    </div>
</div>